username<input type="text" [(ngModel)]="username" /><br>

<div #messagesContainer style="width:500px;height:500px;overflow-y: scroll" >
  <chat-line [message]="message" *ngFor="let message of messages"></chat-line>
</div>
<input #inputText type="text"/>
<button (click)="sendMsg()">Send Message</button><br>
<button (click)="loadMoreMessages()">Load more messages</button>